<h1>Real-time Bitcoin 'matrix-style' transactions representation <small>(data from <a href='https://blockchain.info'>blockchain.info</a>)</small></h1>
<canvas id="matrix" width="600" height="300"  style="background-color:black; border:1px solid #000000;"></canvas>
<p>HTML5 Canvas + Websocket for data + React</p>
<div id='root' ></div>