<h1>Real-time Bitcoin 'matrix-style' transactions representation <small>(data from <a href='https://blockchain.info'>blockchain.info</a>)</small></h1>
<div id='root' ></div>
<p>HTML5 Canvas + Websocket for data + React</p>

